HOME_URL=https://domain.com
APP_URL=https://domain.com/download
ANDROID_URL=https://play.google.com/store/apps/details?id=com.domain.app
IOS_URL=https://apps.apple.com/app/id1234567890
WEBAPP_URL=https://app.domain.com/
